* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100vw;
    color: white;
    background-color: rgb(50, 78, 159);

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


img {
    max-height: 80%;
    margin-left: 10px;
}

header h3 {
    margin-right: 20px;
}
