/* main Content */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    /* color: white; */
}

.content {
    background-color: rgb(20, 30, 61);
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: 35px;
}

h4 {
    font-weight:300;
    font-size:medium;
    color: white;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

